{{ define "base.tmpl" }}
<!DOCTYPE html>
<html>

{{ template "header.tmpl" . }}

<body>

  {{ template "navbar.tmpl" . }}

  <div class="container-fluid">
    <div class="row">

      {{ template "sidebar.tmpl" . }}

      <main class="col-md-10 p-4">
        {{ block "content" . }}{{ end }}
      </main>

    </div>
  </div>

  {{ template "footer.tmpl" . }}

</body>
</html>
{{ end }}